In [1]:
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
ages = pd.DataFrame({"age": [18,22,25,27,21,23,37,31,61,45,41,100]})

#### 等寬劃分

In [3]:
ages["equal_width_age"] = pd.cut(ages["age"], 4)

In [6]:
ages['equal_width_age'].unique()

[(17.918, 38.5], (59.0, 79.5], (38.5, 59.0], (79.5, 100.0]]
Categories (4, interval[float64]): [(17.918, 38.5] < (38.5, 59.0] < (59.0, 79.5] < (79.5, 100.0]]

In [4]:
ages["equal_width_age"].value_counts() # 每個 bin 的值的範圍大小都是一樣的

(17.918, 38.5]    8
(38.5, 59.0]      2
(79.5, 100.0]     1
(59.0, 79.5]      1
Name: equal_width_age, dtype: int64

#### 等頻劃分

In [5]:
ages["equal_freq_age"] = pd.qcut(ages["age"], 4)

In [6]:
ages["equal_freq_age"].value_counts() # 每個 bin 的資料筆數是一樣的

(42.0, 100.0]      3
(29.0, 42.0]       3
(22.75, 29.0]      3
(17.999, 22.75]    3
Name: equal_freq_age, dtype: int64

#### 自定義的 bin

In [9]:
ages["customized_age_grp"] = pd.cut(ages["age"], [10, 20, 30, 50, 100])

In [10]:
ages

    age equal_width_age   equal_freq_age customized_age_grp
0    18  (17.918, 38.5]  (17.999, 22.75]           (10, 20]
1    22  (17.918, 38.5]  (17.999, 22.75]           (20, 30]
2    25  (17.918, 38.5]    (22.75, 29.0]           (20, 30]
3    27  (17.918, 38.5]    (22.75, 29.0]           (20, 30]
4    21  (17.918, 38.5]  (17.999, 22.75]           (20, 30]
5    23  (17.918, 38.5]    (22.75, 29.0]           (20, 30]
6    37  (17.918, 38.5]     (29.0, 42.0]           (30, 50]
7    31  (17.918, 38.5]     (29.0, 42.0]           (30, 50]
8    61    (59.0, 79.5]    (42.0, 100.0]          (50, 100]
9    45    (38.5, 59.0]    (42.0, 100.0]           (30, 50]
10   41    (38.5, 59.0]     (29.0, 42.0]           (30, 50]
11  100   (79.5, 100.0]    (42.0, 100.0]          (50, 100]